<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<style type="text/css">

	</style>
</head>
<body style="background-color: skyblue;">
	<ul>
		<li>
			<div>
				<h2>Mock Authentication</h4>
				<h4>search 'http://localhost:3000/login' to get automatically authenticated</h4>
			</div>
		</li>
		<li>
			<div>
				<h2>Thumbnail Generation</h4>
					<ul>
						<li><h4>search 'http://localhost:3000/image?url=https://public_url/' to download the 50x50px image in thumbnail folder</h4></li>
						<li><h4>Ex: Search, http://localhost:3000/image?url=http://www.dynamictic.info/wp-content/uploads/2014/01/chat-peur.jpg</h4></li>
					</ul>
			</div>
		</li>
	</ul>
</body>
</html>