<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<style type="text/css">

	</style>
</head>
<body style="background-color: skyblue;">
	<div><h1>Here is the Thumbnail for the image</h1>
	<div >
			<img src="<%= path %>">
			</div>
</body>
</html>